{:paths ["src" "resources" "spec"]
 :deps {io.github.slagyr/isaac-agent {:git/url "https://github.com/slagyr/isaac-agent.git"
                                      :git/sha "d7d83dc464ba620d4c168dddbd6fc53ff852cc69"
                                      :exclusions [io.github.slagyr/isaac-foundation]}
        speclj/speclj {:mvn/version "3.13.0"}
        io.github.slagyr/gherclj {:git/tag "v1.4.0" :git/sha "85245b1"}
        io.github.slagyr/isaac-foundation-spec {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                :git/sha "e0dc789b58723a3415a12d5f0d95e0d9148bc316"
                                                :deps/root "spec"}
        io.github.slagyr/isaac-foundation-test-support {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                        :git/sha "e0dc789b58723a3415a12d5f0d95e0d9148bc316"
                                                        :deps/root "spec-support"}
        io.github.slagyr/isaac-agent-spec {:git/url "https://github.com/slagyr/isaac-agent.git"
                                           :git/sha "d7d83dc464ba620d4c168dddbd6fc53ff852cc69"
                                           :deps/root "spec"}}
 :tasks
 {spec {:task (shell "clojure" "-M:spec")}
  features {:task (apply shell "clojure" "-M:features" *command-line-args*)}
  ci {:task (do (run 'spec) (run 'features))}}}
