{:paths ["src" "resources" "spec"]
 :deps {io.github.slagyr/isaac-agent {:git/url "https://github.com/slagyr/isaac-agent.git"
                                      :git/sha "d0668ae506336a45675535750b324084a7735946"
                                      :exclusions [io.github.slagyr/isaac-foundation]}
        speclj/speclj {:mvn/version "3.13.0"}
        io.github.slagyr/gherclj {:git/tag "v1.4.0" :git/sha "85245b1"}
        io.github.slagyr/isaac-foundation-spec {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                :git/sha "8b4a33bfff8d5ccae8aae5fff4193ea73ca42c5a"
                                                :deps/root "spec"}
        io.github.slagyr/isaac-foundation-test-support {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                        :git/sha "8b4a33bfff8d5ccae8aae5fff4193ea73ca42c5a"
                                                        :deps/root "spec-support"}
        io.github.slagyr/isaac-agent-spec {:git/url "https://github.com/slagyr/isaac-agent.git"
                                           :git/sha "d0668ae506336a45675535750b324084a7735946"
                                           :deps/root "spec"}}
 :tasks
 {spec {:task (shell "clojure" "-M:spec")}
  features {:task (apply shell "clojure" "-M:features" *command-line-args*)}
  ci {:task (do (run 'spec) (run 'features))}}}
