{:paths ["src" "resources"]
 :deps {io.github.slagyr/isaac-agent {:git/url "https://github.com/slagyr/isaac-agent.git"
                                      :git/sha "3dbc9a9b4000e8d6757bd0c3b25c3308e32c398c"}
        io.github.slagyr/isaac-foundation {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                           :git/sha "e0dc789b58723a3415a12d5f0d95e0d9148bc316"}
        io.github.slagyr/isaac-server {:git/url "https://github.com/slagyr/isaac-server.git"
                                       :git/sha "d49972f561067f229283e7edee49ba798fff421c"}
        io.github.slagyr/gherclj {:git/tag "v1.4.0" :git/sha "85245b1"}
        io.github.slagyr/isaac-foundation-spec {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                :git/sha "e0dc789b58723a3415a12d5f0d95e0d9148bc316"
                                                :deps/root "spec"}
        io.github.slagyr/isaac-foundation-test-support {:git/url "https://github.com/slagyr/isaac-foundation.git"
                                                        :git/sha "e0dc789b58723a3415a12d5f0d95e0d9148bc316"
                                                        :deps/root "spec-support"}
        io.github.slagyr/isaac-agent-spec {:git/url "https://github.com/slagyr/isaac-agent.git"
                                           :git/sha "d7d83dc464ba620d4c168dddbd6fc53ff852cc69"
                                           :deps/root "spec"}}
 :aliases
 {:spec {:extra-paths ["spec"]
         :extra-deps {speclj/speclj {:mvn/version "3.13.0"}}
         :main-opts ["-m" "speclj.main" "-c" "-D" "spec"]}
  :features {:extra-paths ["spec"]
             :extra-deps {io.github.slagyr/gherclj {:git/tag "v1.4.0" :git/sha "85245b1"}}
             :main-opts ["-m" "gherclj.main" "-f" "features"
                         "-s" "isaac.foundation.root-steps"
                         "-s" "isaac.foundation.fs-steps"
                         "-s" "isaac.foundation.harness-config-steps"
                         "-s" "isaac.config.config-steps"
                         "-s" "isaac.foundation.log-steps"
                         "-s" "isaac.foundation.cli-steps"
                         "-s" "isaac.session.session-steps"
                         "-s" "isaac.tool.tools-steps"
                         "-s" "isaac.llm.providers-steps"
                         "-s" "isaac.episodes.episode-steps"
                         "-t" "~slow" "-t" "~wip"]}}}
